.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-mensajes {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #1A1D21;
    gap: 1px;
    scrollbar-width: thin;
    scrollbar-color: #797C7E transparent;
    flex-grow: 1;
}

.contenedor-vacio {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1A1D21;
    flex-grow: 1;
    color: #fefefe;
    text-align: center;
}

.aviso-mensajes-vacio {
    opacity: .5;
    font-size: 35px;
    text-shadow: 0px 0px 10px #fff;
}


.contenedor-input-mensajes{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 5px;
    padding: 5px 1rem;
    position: relative;
    background-color: #1A1D21;
}

.contenedor-input-mensajes input {
    width: 95%;
    height: 70%;
    background-color: #222529;
    border-radius: 4px;
    border: 1.5px solid #565856;
    box-shadow: 0px 0px 2px 0px #000;
    color: #aeaeae;
    font-size: 20px;
    padding: 0 10px;
}

.contenedor-input-mensajes input:focus {
    outline: none;
    border: 2px solid #aeaeae;
}

.contenedor-input-mensajes input::placeholder {
    color: #bcbcbc5a;
}

.contenedor-btn-enviar{
    width: 5%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.btn-enviar-mensaje{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    color: #bcbcbc5a;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #222529;
    border: 1.5px solid #565856;
}

.btn-enviar-mensaje:hover {
    cursor: pointer;
    border: 2px solid #aeaeae;
    color: #aeaeae;
}

@media screen and (max-width: 1000px) {
    .contenedor-input-mensajes {
        height: 15%;
    }

    .contenedor-input-mensajes input {
        padding: 0 120px 0 10px;
        font-size: 17px;
    }

    .contenedor-btn-enviar {
        width: 50px;
    }

    .btn-enviar-mensaje {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .contenedor-input-mensajes {
        height: 15%;
    }

    .contenedor-input-mensajes input {
        font-size: 15px;
    }

    .contenedor-btn-enviar {
        left: 83%;
    }
}

@media screen and (max-width: 480px) {
    .contenedor-input-mensajes input {
        padding: 0 100px 0 10px;
    }

    .contenedor-btn-enviar {
        left: 81%;
    }

    .aviso-mensajes-vacio {
        font-size: 25px;
    }
}

@media screen and (max-width: 400px) {
    .contenedor-input-mensajes {
        height: 13%;
    }
    .contenedor-input-mensajes input {
        padding: 0 100px 0 10px;
        font-size: 13px;
    }

    .contenedor-btn-enviar {
        left: 79%;
        width: 80px;
    }

    .btn-enviar-mensaje {
        font-size: 13px;
    }
}

@media screen and (min-width: 1600px) {
    .contenedor-input-mensajes input {
        height: 50%;
        font-size: 22px;
        padding: 0 170px 0 10px;
    }

    .contenedor-btn-enviar {
        width: 140px;
        height: 50px;
        left: 87%;
    }

    .aviso-mensajes-vacio {
        font-size: 40px;
    }
}

@media screen and (min-width: 1800px) {
    .contenedor-input-mensajes input {
        font-size: 28px;
        padding: 0 160px 0 10px;
    }

    .contenedor-input-mensajes {
        border-top: 2px solid #fefefe;
    }

    .contenedor-btn-enviar {
        width: 150px;
        height: 60px;
        left: 89%;
    }

    .btn-enviar-mensaje {
        font-size: 25px;
    }

    .aviso-mensajes-vacio {
        font-size: 50px;
    }
}