.contenedor-canales {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 20px;
    gap: 7px;
}

.titulo-canales {
    width: 100%;
    height: 30px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border-bottom: #000 1px solid;
}

.lista-canales {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    list-style: none;
}

.link-canal {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    width: 100%;
    height: 30px;
    display: flex;
    gap: 2px;
    border-radius: 5px;
    padding-left: 5px;
    display: flex;
    align-items: center;
}

.link-canal:hover {
    background-color: #5b8c9d;
}

.contenedor-canal:hover > .btn-eliminar-canal {
    display: flex;
    justify-content: center;
    align-items: center
}

.link-canal::before {
    content: '#';
}

.contenedor-crear-canal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #000;
}

.form-crear-canal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.form-crear-canal input {
    width: 100%;
    height: 30px;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 0px 5px;
}

.form-crear-canal input:focus {
    outline: none;
    border: 2px solid #000;
}

.form-crear-canal button {
    width: 100%;
    height: 20px;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 0px 5px;
}

.contenedor-canal {
    position: relative;
    width: 100%;
}

.btn-eliminar-canal {
    position: absolute;
    right: 5px;
    top: 0;
    background-color: inherit;
    border: none;
    color: rgb(167, 1, 1);
    font-size: 18px;
    cursor: pointer;
    display: none;
    transition: .4s;
    height: 100%;
    width: 25px;
}

.btn-eliminar-canal:hover {
    background-color: #5b8c9d;
}

.btn-confirmar-canal {
    background-color: #690257;
    color: #fefefe;
    cursor: pointer;
}

.btn-cancelar-canal {
    background-color: inherit;
    color: #000;
    cursor: pointer;
}

.btn-crear-canal {
    width: 100%;
    height: 100%;
    background-color: inherit;
    outline: none;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .contenedor-canales {
        align-items: center;
    }

    .titulo-canales {
        color: #fefefe;
        border-bottom: #fefefe 1px solid;
        height: 40px;
        font-size: 28px;
        width: 70%;
    }

    .lista-canales {
        width: 70%;
        margin-bottom: 15px;
    }

    .link-canal {
        color: #fefefe;
    }

    .contenedor-crear-canal {
        border: 2px solid #fefefe;
        width: 50%;
        align-self: center;
        padding: 10px;
    }

    .btn-crear-canal {
        color: #fefefe;
        font-size: 20px;
    }

    .form-crear-canal {
        width: 80%;
    }

    .form-crear-canal input {
        color: #000;
        height: 25px;
        font-size: 12px;
        outline: none;
    }

    .btn-cancelar-canal, .btn-confirmar-canal {
        color: #fefefe;
        border: 1px solid #fefefe !important;
        height: 25px !important;
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .contenedor-crear-canal {
        width: 80%;
    }

    .titulo-canales {
        width: 80%;
        font-size: 24px;
    }

    .lista-canales {
        width: 80%;
    }

    .link-canal {
        font-size: 15px;
    }

    .btn-crear-canal {
        font-size: 15px;
    }
}

@media screen and (min-width: 1600px) {
    .titulo-canales {
        font-size: 32px;
        height: 50px;
    }

    .link-canal {
        font-size: 22px;
    }

    .btn-crear-canal {
        font-size: 22px;
    }

    .form-crear-canal {
        width: 90%;
    }

    .form-crear-canal input {
        font-size: 18px;
        height: 40px;
    }

    .btn-cancelar-canal, .btn-confirmar-canal {
        font-size: 20px;
        height: 35px !important;
        border-radius: 12px !important;
    }
}

@media screen and (min-width: 1900px) {
    .form-crear-canal input {
        font-size: 22px;
        height: 45px;
    }

    .btn-cancelar-canal, .btn-confirmar-canal {
        font-size: 22px;
        height: 40px !important;
        border-radius: 12px !important;
    }

    .btn-crear-canal {
        font-size: 22px;
    }

    .link-canal {
        font-size: 26px;
    }

    .titulo-canales {
        font-size: 40px;
        height: 60px;
    }
}