.contenedor-canales {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 20px;
    gap: 10px;
}

.titulo-canales {
    width: 100%;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    border-bottom: #000 1px solid;

}

.lista-canales {
    width: 100%;
    max-height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    list-style: none;
    text-wrap: balance;
    overflow-wrap: break-word;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #5b8c9d transparent;
}

.link-canal li {
    width: 100%;
    height: 100%;
}

.link-canal {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    width: 100%;
    min-height: 30px;
    display: flex;
    gap: 2px;
    border-radius: 5px;
    padding: 0;
    padding-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    background-color: #5b8c9d;
}


.link-canal::before {
    content: '#';
}

.contenedor-crear-canal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #000;
    margin-top: 10px;
    box-shadow: 0px 0px 3px 0px #000;
}

.form-crear-canal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.form-crear-canal input {
    width: 100%;
    height: 30px;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 0px 5px;
}

.form-crear-canal input:focus {
    outline: none;
    border: 2px solid #000;
}

.form-crear-canal button {
    width: 100%;
    height: 20px;
    border: #000 1px solid;
    border-radius: 5px;
    padding: 0px 5px;
}

.contenedor-canal {
    width: 100%;
}

.btn-eliminar-canal {
    background-color: inherit;
    border: none;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
    height: 25px;
    width: 30px;
    border-radius: 6px;
}

.btn-eliminar-canal i {
    color: #000;
    background-color: rgb(167, 1, 1);
    height: 100%;
    width: 100%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    box-shadow: 0px 0px 3px 0px #000;
}

.btn-eliminar-canal i:hover {
    background-color: rgb(230, 0, 0);
}

.btn-confirmar-canal {
    background-color: #690257;
    color: #fefefe;
    cursor: pointer;
}

.btn-confirmar-canal:hover {
    border: 1px solid #fff;
    box-shadow: 0px 0px 3px 0px #fff;
}

.btn-cancelar-canal {
    background-color: inherit;
    color: #000;
    cursor: pointer;
}

.btn-cancelar-canal:hover {
    box-shadow: 0px 0px 3px 0px #000;
}

.btn-crear-canal {
    width: 100%;
    height: 100%;
    background-color: inherit;
    outline: none;
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .contenedor-canales {
        align-items: center;
    }

    .titulo-canales {
        color: #fefefe;
        border-bottom: #fefefe 1px solid;
        height: 40px;
        font-size: 28px;
        width: 70%;
    }

    .lista-canales {
        width: 70%;
        margin-bottom: 15px;
        scrollbar-color: #690257 transparent;
    }

    .link-canal {
        color: #fefefe;
    }

    .active {
        background-color: #5e0289;
    }

    .contenedor-crear-canal {
        border: 2px solid #fefefe;
        width: 50%;
        align-self: center;
        padding: 10px;
    }

    .btn-crear-canal {
        color: #fefefe;
        font-size: 20px;
    }

    .form-crear-canal {
        width: 80%;
    }

    .form-crear-canal input {
        color: #000;
        height: 25px;
        font-size: 12px;
        outline: none;
    }

    .btn-cancelar-canal, .btn-confirmar-canal {
        color: #fefefe;
        border: 1px solid #fefefe !important;
        height: 25px !important;
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .contenedor-crear-canal {
        width: 80%;
    }

    .titulo-canales {
        width: 80%;
        font-size: 24px;
    }

    .lista-canales {
        width: 80%;
    }

    .link-canal {
        font-size: 15px;
    }

    .btn-eliminar-canal {
        font-size: 15px;
    }

    .btn-crear-canal {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    .link-canal {
        font-size: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .titulo-canales {
        font-size: 32px;
        height: 50px;
    }

    .link-canal {
        font-size: 22px;
    }

    .btn-eliminar-canal {
        font-size: 22px;
    }

    .btn-crear-canal {
        font-size: 22px;
    }

    .form-crear-canal {
        width: 90%;
    }

    .form-crear-canal input {
        font-size: 18px;
        height: 40px;
    }

    .btn-cancelar-canal, .btn-confirmar-canal {
        font-size: 20px;
        height: 35px !important;
        border-radius: 12px !important;
    }
}

@media screen and (min-width: 1900px) {
    .form-crear-canal input {
        font-size: 22px;
        height: 45px;
    }

    .btn-cancelar-canal, .btn-confirmar-canal {
        font-size: 22px;
        height: 40px !important;
        border-radius: 12px !important;
    }
    .lista-canales {
        gap: 10px;
    }

    .btn-crear-canal {
        font-size: 22px;
    }

    .link-canal {
        font-size: 26px;
    }

    .btn-eliminar-canal {
        font-size: 22px;
    }

    .titulo-canales {
        font-size: 40px;
        height: 60px;
    }
}