@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.carta-entorno {
    border-radius: 16px;
    background-color: #73a3b3;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    border: 1px solid #000;
    box-shadow: 0px 0px 4px 0px #000;
    height: 60px;
}

.botones-carta-entorno {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: center;
}

.btn-eliminar-entorno {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px #000;
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    background-color: rgb(167, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px #000;
    cursor: pointer;
}

.info-carta-entorno {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
    height: 60px;
    align-items: center;
    color: #000;
}

.btn-entrar {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px #000;
    color: #000000;
    font-size: 20px;
    font-weight: 700;
    background-color: #be58cf;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 0px #000;
}

.icono-carta-entorno {
    font-size: 25px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 700px) {

    .carta-entorno {
        height: 40px;
        border-radius: 12px;
        padding: 0px 10px;
    }

    .btn-entrar {
        width: 70px;
        height: 30px;
        font-size: 16px;
    }

    .btn-eliminar-entorno {
        width: 30px;
        height: 30px;
        font-size: 16px;
    }

    .info-carta-entorno {
        gap: 10px;
    }

    .nombre-carta-entorno{
        font-size: 15px;
    }

    .icono-carta-entorno {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .carta-entorno {
        height: 35px;
        padding: 0px 5px;
    }

    .btn-entrar {
        width: 50px;
        height: 25px;
        font-size: 12px;
        border-radius: 8px;
    }

    .btn-eliminar-entorno {
        width: 25px;
        height: 25px;
        font-size: 12px;
        border-radius: 8px;
    }

    .botones-carta-entorno {
        gap: 5px;
    }

    .info-carta-entorno {
        gap: 5px;
    }

    .nombre-carta-entorno {
        font-size: 12px;
    }

    .icono-carta-entorno {
        font-size: 15px;
    }
}

@media screen and (min-width: 1300px) { 
    .carta-entorno {
        height: 70px;
    }

    .btn-entrar {
        width: 120px;
        height: 50px;
        font-size: 25px;
    }

    .btn-eliminar-entorno {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    .info-carta-entorno {
        gap: 20px;
    }

    .icono-carta-entorno {
        font-size: 35px;
    }

    .nombre-carta-entorno {
        font-size: 30px;
    }
}

@media screen and (min-width: 1700px) { 
    .carta-entorno {
        height: 100px;
        border-radius: 25px;
        padding: 0px 30px;
    }

    .btn-entrar {
        width: 180px;
        height: 70px;
        font-size: 40px;
        border-radius: 15px;
    }

    .btn-eliminar-entorno {
        width: 70px;
        height: 70px;
        font-size: 35px;
        border-radius: 15px;
    }

    .info-carta-entorno {
        gap: 30px;
    }

    .icono-carta-entorno {
        font-size: 50px;
    }

    .nombre-carta-entorno {
        font-size: 45px;
    }
}